<div class="row margbot">
	<h1 class="center  margbot">View All Advertising Spaces In A Map View.</h1>
	<div class="col-md-6">
		<ul>
			<li><span class="glyphicon glyphicon-pushpin"></span><a href="/maps/portland">Portland, Oregon</a></li>
			<li><span class="glyphicon glyphicon-pushpin"></span><a href="/maps/seattle">Seattle, Washington</a></li>
			



		</ul>




	</div>
	<div class="col-md-6"><div id="mapgraphic"></div></div>




</div><!--end row-->