<h1>About Isement</h1>

<p>Isement is an online marketplace for advertISEMENTS that are a little different from the norm.</p>

<p>Own a building that gets a lot of daily traffic going by?</p>

<p>Do you have a fleet of trucks that could display ads?</p>

<p>Have a home on a busy street?</p>

<p>Put them on the Isement marketplace, and earn revenue by letting others advertise there.</p>

<p>Terms and conditions are set by you.</p>
