<div class="container padbotlg">
<h1 class="center">What The Heck Is Isement?</h1>

<p class="center margbot subhead bold red">Isement is an online marketplace for advertISEMENTS that are a little different from the norm.</p>

<div class="row aboutarea">

<div class="col-md-6 how-boxes margbot">
<p>Own a building that gets a lot of daily traffic going by?</p>
</div>

<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/h27anqto1vvq820/taxis.jpg" alt="downtown traffic"/>
</div>


<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/2t7cwdsamr2qhyc/blanksemi.jpg" alt="advertise on semi trucks"/>
</div>

<div class="col-md-6 margbot how-boxes">
<p>Do you have a fleet of trucks that could display ads?</p>
</div>



<div class="col-md-6 margbot how-boxes">
<p>Have a home on a busy street?</p>
</div>

<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/s02lzq6zaginnlr/yard.jpg" alt="advertise in your yard"/>
</div>










<p class="center subhead red bold margbotsm">Put them on the Isement marketplace to earn some extra revenue!</p>
<div class="col-md-6 idea-pars center-block">

<p class="bold margbotsm">Isement is for buying and selling space. Owners of spaces offer them up for others to advertise in, or on. Spaces can be almost anything as long you own it, and you don't break any laws by letting others advertise there.</p>

<div class="center margbot">

<p>Pick an area of your front yard for yard signs.</p>

<p>Do you have an area of your roof that is visible to traffic? Sell it!</p>

<p>Own a bar or restaurant? We bet you have numerous areas you could offer.</p>

<p>Do you drive a truck or own a fleet of tractor trailers? Plenty of eyes will see your trailers.</p>

<p>Maybe you're a long haul bike rider. Sell space on your bike and gear for advertisements.</p>
</div><!--end center-->


<p class="bold margbotsm">For the folks who want to advertise: Isement is a fresh, new way to get your business, or cause in front of new eyeballs. Forget boring, coporate-owned billboards that people have learned to ignore. Try something new! You never know. You might like it so much, you'll decide to offer up your own spaces.</p>



</div><!--end idea-pars-->

</div>
</div>