<div class="container padbotlg">
<h1 class="center">What The Heck Is Isement?</h1>

<p class="center margbot subhead">Isement is an online marketplace for advertISEMENTS that are a little different from the norm.</p>

<div class="row aboutarea">

<div class="col-md-6 how-boxes margbot">
<p>Own a building that gets a lot of daily traffic going by?</p>
</div>

<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/h27anqto1vvq820/taxis.jpg" alt="downtown traffic"/>
</div>


<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/2t7cwdsamr2qhyc/blanksemi.jpg" alt="advertise on semi trucks"/>
</div>

<div class="col-md-6 margbot how-boxes">
<p>Do you have a fleet of trucks that could display ads?</p>
</div>



<div class="col-md-6 margbot how-boxes">
<p>Have a home on a busy street?</p>
</div>

<div class="col-md-6 margbot">
<img src="https://dl.dropboxusercontent.com/s/s02lzq6zaginnlr/yard.jpg" alt="advertise in your yard"/>
</div>










<p class="center subhead">Put them on the Isement marketplace to earn some extra revenue!</p>


</div>
</div>