<div class="container padbotlg">



<div class="panel panel-default margbot">
  
  <div class="panel-heading"><h1 class="center margbot">Selling Advertising Space</h1></div>
  <div class="panel-body">
   <p class=" center subhead">Have your space for sale in a few short minutes!</p>
  </div>

  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item">Give your listing a title and description.</li>
    <li class="list-group-item">State your pricing terms.</li>
    <li class="list-group-item">Upload clear, descriptive images.</li>
    <li class="list-group-item">Add the address pinpoint to the map.</li>
    <li class="list-group-item subhead">Promote your listing!</li>
  </ul>
</div>



<div class="panel panel-default">
  
  <div class="panel-heading"><h1 class="center margbot">Buying Advertising Space</h1></div>
  <div class="panel-body">
   <p class=" center subhead">Start advertising your business or cause in minutes!</p>
  </div>

  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item">Search available space.</li>
    <li class="list-group-item">Agree to terms</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>












</div>