<div class="container padbotlg">



<div class="panel panel-default margbot">
  
  <div class="panel-heading center"><h1 class="center">Selling Your Space</h1><p class="margbotsm">Let others buy your space to advertise in.</p></div>
  <div class="panel-body">
   <p class=" center subhead bold red">Have your space for sale in a few short minutes!</p>
  </div>

  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item">Give your space a title.</li>
    <li class="list-group-item">Add a descriptive paragraph or two about your space.</li>
    <li class="list-group-item">Decide how much your space will cost.</li>
    <li class="list-group-item">Upload clear, descriptive images.</li>
    <li class="list-group-item">Promote your space.</li>
    <li class="list-group-item subhead">Rinse And Repeat For Steady, Extra Income!</li>
  </ul>
</div>



<div class="panel panel-default">
  
  <div class="panel-heading center"><h1 class="center">Buying Space</h1><p class="margbotsm">Your business or cause needs fresh advertising.</p></div>
  <div class="panel-body">
   <p class=" center subhead bold red">Quickly find unique and clever spaces to advertise in!</p>
  </div>

  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item">Search available spaces in your desired area.</li>
    <li class="list-group-item">Find the right space for your advertisment.</li>
    <li class="list-group-item">Agree to seller's price and terms.</li>
    <li class="list-group-item">Your unique ad goes up.</li>
    <li class="list-group-item subhead">Extra Traffic and Business Comes Your Way!</li>
  </ul>
</div>












</div>