<h1 class="center padbot">PRICING</h1>
<div class="row">


	<div class="col-md-6 center">
<div class="panel panel-info">
  <div class="panel-heading"><h2>ARE YOU SELLING?</h2></div>
  <div class="panel-body">
  	<p>FREE!</p>
    <p>No extra fees to post your advertising space while we launch.</p>
    <p>Seller responsible for financial transaction fee. (3% of transaction amount.)</p>
    <p>Funds are sent to your chosen bank within 2-3 business days.</p>
  </div>
</div>

</div><!--end-col-md-6-->

	<div class="col-md-6 center">
<div class="panel panel-info">
  <div class="panel-heading"><h2>ARE YOU BUYING?</h2></div>
  <div class="panel-body">
  	<p>FREE!</p>
    <p>No extra fees to buy advertising space while we launch.</p>
  </div>
</div>

</div><!--end-col-md-6-->


</div><!--end row-->