@import "bootstrap";

@font-face {
    font-family: 'league_gothicregular';
    src: asset-url('leaguegothic-regular-webfont.eot');
    src: asset-url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('leaguegothic-regular-webfont.woff') format('woff'),
         asset-url('leaguegothic-regular-webfont.ttf') format('truetype'),
         asset-url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_compressedregular';
    src: url('encodesanscompressed-400-regular-webfont.eot');
    src: url('encodesanscompressed-400-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('encodesanscompressed-400-regular-webfont.woff') format('woff'),
         url('encodesanscompressed-400-regular-webfont.ttf') format('truetype'),
         url('encodesanscompressed-400-regular-webfont.svg#encode_sans_compressedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{font-size:17px;}
body{color:#000;font-family:encode_sans_compressedregular,sans-serif;background:#EEE;font-size:1em;}
.navbar-brand{margin-top:10px;}
.lesstop{margin-top:0;}
.well{box-shadow: inset 2px 3px 2px #555;}
ul{list-style-type: none;}
.bold{font-weight:bold;}
.red{color:red;}
li{margin:10px 0 10px 0;}
li span{padding-right:10px;}
h1,h2,h3,h4,h4{font-family: league_gothicregular,arial,sans-serif;}
h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
.margbot{margin-bottom:60px;}
.margbotsm{margin-bottom:30px;}
.padbot{padding-bottom:60px;}
.padbotlg{padding-bottom:100px;}
.subhead{font-size:1.2em;}
.right{text-align:right;}
.small{font-size:0.9em;color:#555;}
.red{color:red;}
.lgpar{font-size:1.5em;font-weight:bold;}
.lgrdpar{font-size:1.5em;color:red;}
.center-block {display:block;margin:auto;float:none;}
.navbar-nav > li > a.str-link{padding:6px 12px 6px 12px;border-radius:6px;border: solid 1px #000;color:#000;margin-top:8px;}
.navbar-nav > li > a.str-link:hover{color:#555;border: solid 1px #555;}
.navbar{margin-bottom:0;}
.navbar-default{background:#d9d9d9;}
.navlinks{font-size:1.2em;color:#555;}
.navlinks:hover{color:#6f6f6f;}
.navbar-default .navbar-brand{font-size:3em;color:#000;font-family: league_gothicregular,sans-serif;}
.navbar-default .navbar-brand:hover{color:#555;}
.center{text-align:center;}
.col-md-3:nth-child(4n+1){clear:left;}


.show-details{font-size:1.5em;}
.show-title{font-size:3em;}
.show-sm-details{font-size:1.2em;}
#listing-details{margin:40px 0;}
.jumbotron{background: url("https://dl.dropboxusercontent.com/s/bzoo46d2m448xap/canal.jpg") no-repeat;background-size:cover;color:#f4fefd;h1,h2{text-shadow:1px 1px 0 black, -1px -1px 0 black;};border-top:solid thin #555;border-bottom:solid thin #555;}
.wht-text{color:#FFF}
.sm-message{font-size:0.9em;color:red;}
.hidden { display: none; }
.hm-listing-bx:hover{background:#e5e5e5;}
.hm-listing-bx .thumbnail{min-height:500px;}
.newlistlink{height:auto;margin-bottom:60px;}
#bottom{width:100%;background:#d9d9d9;position:fixed;bottom:0;left:0;height:auto;opacity:0.9;}

.how-boxes{height:300px;line-height:300px;text-align:center;}
.how-boxes p{display:inline-block;vertical-align:middle;line-height:normal;}
.aboutarea img{box-shadow: 0 8px 6px -6px black;}


#mapgraphic{width:500px;height:500px;background: url("https://dl.dropboxusercontent.com/s/iott4zc7yuzcevv/pinpoint.jpg") no-repeat;}
#map{width:100%;height:600px;}

.checkboxwrap{}
.acceptterms{}
.checkbox label{color:red;font-size:1.1em;}