<div id="bottom">
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><%= link_to "about", about_path, class: "navlinks" %></li>
        <li><%= link_to "pricing", pricing_path, class: "navlinks" %></li>
        <li></li>
        <li><%= link_to "terms", terms_path, class: "navlinks" %></li>
      </ul>  </div>
</nav>
</div>
