<div class="jumbotron center margbot">
<div class="container">
<h1 class="center">Buy & Sell Unique & Clever Advertising Space.</h1>
<p><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
</div><!--end jumbotron-->